*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.sage
*.*.sage
*.*.*.py
*.sagetex.scmd
*.sagetex.sout
*[*\.]sout
sage/dpg_linear_advection/*
!sage/dpg_linear_advection/*.pdf
!sage/dpg_linear_advection/*.tex
sage/dpg_linear_advection/sage-plots-for-dpg_lin_adv.tex/

*.gz
*.swp
auto/*.el
*/auto/*.el

.DS_Store
