*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.toc
*.sage
*.*.sage
*.*.*.py
*.sagetex.scmd
*.sagetex.sout
*[*\.]sout
sage/dpg_linear_advection/*
!sage/dpg_linear_advection/*.pdf
!sage/dpg_linear_advection/*.tex

*.gz
*.swp

.DS_Store
